@model Laboratoire_1.Models.Nouvelle

@{ 
    ViewBag.Title = "Créer";
}

<h2>Créer</h2>

@Html.Partial("_NouvellesForm")

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
